.imgContainer {
    height: 150vh; 
    width: 100%; 
    background-image: linear-gradient(45deg, rgb(10, 236, 10), orange, red);
    background-size: 200% 700%; 
    animation: moving 5s linear infinite; 
    flex-wrap: wrap;  
}
.tost 
{
    background-color: white; 
    height: 10vh;
    width: 400px;
}
@keyframes moving { 
    0% {
        background-position: 0% 0%; 
    }
    50% {
        background-position: 100% 100%; 
    }
    100% {
        background-position: 0% 0%; 
    }
}

@media (min-width: 920px) { 
    .imgContainer {
        height: 80vh; 
        width: 100%;  
    }  
}
